@import "../variables"

.listing-header
  position: absolute
  z-index: 3
  width: 100%
  text-align: center
  top: 50%
  transform: translateY(-50%)
  img
    width: 100px
    height: 100px
  p
    text-transform: uppercase
    color: $color-lighter
  .info-box
    border: 1px solid white
    padding: 10px 15px

//Info
.info-box
  background-color: $color-lighter

.info-about
  h3
    color: $color-main

//Listing options
.listing-option
  display: none //Hide by default

.listing-options
  background-color: $color-main
  width: 100%
  margin-bottom: 100px
  padding: 25px 0
  h4
    margin-bottom: 0
    float: left
    padding-right: 15px
    color: white
  h4:hover
    color: $color-light
    cursor: pointer
  .selected
    color: $color-light

.listing-option-menu
  .menu-item
    margin-bottom: 25px
    background-color: $color-gray
    .menu-item-img
      background-size: cover
      background-position: center
      height: 150px
    a
      text-decoration: none
      color: $color-main
    .menu-item-info
      padding: 15px 15px
      height: 150px
      position: relative
      overflow: hidden
      h6
        text-align: center
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        margin-bottom: 10px
        color: $color-main
    .menu-item-info:before
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: linear-gradient(transparent 115px, white)

.listing-option-details
  .detail-box
    width: 100%

.deal-box
  background-color: white
  padding: 15px 25px
  h5, h6, p
    color: $color-main
    margin-bottom: 0

.social-icons
  margin: 15px 10px
  width: 100%
  text-align: center
  a
    width: auto
    float: left
    margin: 0 15px
    display: block
  span
    color: $color-main

.listing-details-box
  background-color: white

//Individual
#live-map-interactive
  width: 100%
  height: 330px

#favorite-listing
  display: block
  margin-top: 5px
  cursor: pointer
  width: 30px
  height: 30px
  float: right
  span
    color: white

#favorite-listing.selected
  span
    color: $color-error
