//Imports
@import variables

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic")
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300")

@import "pages/listing"
@import "pages/home"
@import "pages/map"
@import "pages/business"
@import "pages/profile"

//Defaults
body
  margin: 0

h1, h2, h3, h4, h5, h6, a
  color: white

h1, h2, h3, h4, h5, h6
  font-family: $font-heavy
  font-weight: bold

a
  text-decoration: none

a, p
  font-family: 'Open Sans', sans-serif
  word-wrap: break-word

input[type="text"], input[type="password"], textarea
  height: 38px
  border: 1px solid #D1D1D1
  border-radius: 4px
  padding: 6px 10px
  background: white
  width: 100%
  height: 38px

input[type="text"]:focus, input[type="password"]:focus, textarea:focus
  background-color: white
  color: $color-main

section
  padding: 30px 0 0 0

section.dark-text
  h1, h2, h3, h4, h5, h6, a
    color: $color-main

footer
  background-color: $color-main
  padding: 100px 0

footer h6
  margin-bottom: 10px

footer div.social
  a
    display: block
    width: 100%
  span
    padding-right: 5px
    float: left
  h6
    float: left
    width: auto

hr
  color: rgba(255, 255, 255, 0.121569)
  height: 2px

//Elements
.no-padding
  padding: 0

.dark
  background-color: #444957

.dark-color
  color: $color-main

.dark-transp
  position: relative

.dark-transp:after
  content: " "
  z-index: 2
  display: block
  position: absolute
  height: 100%
  top: 0
  left: 0
  right: 0
  background-color: rgba(68, 73, 87, .9)

.light
  background-color: $color-gray
  .container h3
    font-size: 24px
    margin: 0
    font-weight: 600
    letter-spacing: 1px
    line-height: 45px
    color: #333
    display: inline-block
    span
      display: inline-block
      img
        height: 45px
        width: auto
        vertical-align: middle
    strong
      display: inline-block
      vertical-align: middle

.listing-bottom
  padding-bottom: 50px

.button
  padding-left: 25px
  padding-right: 25px
  border-color: $color-lighter
  color: white
  background: rgba(255, 255, 255, 0.13)

.button:hover
  color: $color-main
  background-color: white

.full
  padding: 0
  width: 100%

.full-width
  width: 100%

.error-message
  color: $color-error

.profile-img
  border-radius: 50%
  border: 1px solid white
  width: 38px
  height: 38px
  overflow: hidden
  float: right
  img
    width: 38px
    height: 38px
    margin-top: 5px
    padding: 0

.row-margin
  margin-bottom: 30px

div.reporting
  width: 100%
  border-radius: 5px
  padding: 15px 15px
  color: white
  margin-bottom: 20px
  h6
    float: left
    color: white
    margin-bottom: 0
  span
    padding-right: 15px
    float: left
    color: white
    margin-top: 3px

.success
  background-color: $color-success

.error
  background-color: $color-error

.accordion
  .panel
    padding: 10px
    display: none
    background-color: $color-gray
    h6
      margin: 0 //Clear text margin
  button
    border-radius: 0
    width: 100%
  hr
    margin: 5px 0
  a:hover
    cursor: pointer

.icon-padding-right
  span
    padding-right: 15px

.icon-padding-left
  span
    padding-left: 15px

//Authentication
.auth-container
  width: auto
  padding: 40px 40px
  background-color: $color-gray
  a
    text-decoration: none
    background-color: $color-main
  a:hover
    color: $color-gray
    border-color: $color-gray
    background-color: $color-main
  input
    border-color: white
  input:hover
    border-color: $color-gray
  .auth-options a
    background-color: unset
    color: $color-main

//Individual (id)
#logo
  height: 60px
  margin-top: -15px

#map
  padding: 25px 0
  > div
    z-index: 3 //Display above map

#live-map
  height: 300px

//Clearfix
.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.clearfix
  display: inline-block

html[xmlns]
  .clearfix
    display: block

* html
  .clearfix
    height: 1%

//Remodal
.remodal-close-button
  position: absolute
  top: 0
  right: 0
  color: white
  height: 30px
  width: 30px
  color: $color-main
  margin-right: 5px
  margin-top: 5px